
@import url('http://fonts.cdnfonts.com/css/public-sans');

body{
    font-family: 'public-sans', sans-serif;
    font-weight: bolder;
}
p{
    font-size: 2vw;
}

.title {
    font-size: 3vw;
}
.content {
    font-size: 2vw;
}

#first_page{
    background-color: #0C1B33;
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.first_page_h1{
    color: #F28583;
}
.first_page_h2{
    color: white;
}
.first_page_h5{
    color: #F4D35E;
}

.social_links{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#second_page {
    background-color:#F28583;
    color: white;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh;
    
}

#about_text {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#about_me {
    inline-size: 100%;
    overflow: wrap;
}
.Yellow_text {
    color: #F4D35E;
    text-decoration: underline;
}

.darkblue_text{
    color:  #0C1B33;
    text-decoration: underline;
}

.pink_text{
    color: #F28583;
}

.lightblue_text {
    color: #28B0B1;
}
#technologies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.list{
   
    padding: 2vh;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-auto-rows: 1fr; */
    gap: 1em;
    justify-content: center;
    align-items: center;
}
@media (min-width: 1310px){
    #list{grid-template-columns: repeat(1, 1fr) }
}



#portrait_img{
    border-radius: 8px;
    max-width: 50%;
    /* height: 75%; */
}

#third_page{
    
    height: 100vh;
    padding:25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#project_info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#project_Image {
    max-width:max-content
}
#img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#project_img{
    border-radius: 8px;
    max-width: 70vh;

}

#direction_buttons {
    display: flex;
    width:65vw;
    justify-content: space-around;
    margin-top: 20px;
    text-decoration: underline #28B0B1;
   
}

